$yellow:#f5e345;
$green:#00ff7f;
@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    padding-top: 70px;
    background-color:$green;
    @include margenes(50px,0px);
}
.container{
    padding: 1%;
    flex-wrap: wrap;

}

.container2{
    background-color:lightgrey ;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    align-content: space-between;
}
.card-hotel{
    margin: 5px;
    flex: 1 150px;
    flex-direction: row;
    justify-content: space-between;
}

.boton-reserva{
    align-self: flex-end;
    width: 100%
}
.footer{
padding: 30px 15px 5px 30px;
background-color:$green;
color: $green;

@include margenes(10px,0px);
}

.card-img-top{
    height: 60%;
    width: 100%;
    flex-direction: row;

}
.card-metod{
padding-bottom: 20px;

}
.img-fluid {
padding: 1%;
}
.badge-success{
    background-color:$green;
}
